Source: aaropa-calamares-extensions-bass
Section: unknown
Priority: optional
Maintainer: Bùi Gia Viện <shadichy@blisslabs.org>
Rules-Requires-Root: no
Build-Depends: cmake,
  cryptsetup <!nocheck>,
  debhelper-compat (= 13),
  extra-cmake-modules,
  gettext,
  libcrypt-dev,
  libkf6config-dev,
  libkf6coreaddons-dev,
  libkf6crash-dev,
  libkf6i18n-dev,
  libkf6iconthemes-dev,
  libkf6kio-dev,
  libkf6parts-dev,
  libkf6service-dev,
  libkf6solid-dev,
  libkpmcore-dev,
  libparted-dev,
  libpolkit-qt6-1-dev,
  libpwquality-dev,
  libboost-python-dev,
  libqt6svg6-dev,
  libyaml-cpp-dev,
  os-prober <!nocheck>,
  pkgconf,
  pkg-kde-tools,
  pkexec,
  python3:any,
  qml6-module-qtquick-layouts,
  qml6-module-qtquick-window,
  qml6-module-qtquick,
  qt6-base-dev,
  qt6-base-private-dev
Standards-Version: 4.7.3
Homepage: https://github.com/BlissOS/aaropa_calamares.git
Vcs-Browser: https://github.com/BlissOS/aaropa_calamares.git
Vcs-Git: https://github.com/BlissOS/aaropa_calamares.git

Package: aaropa-calamares-extensions-bass
Architecture: linux-any
Multi-Arch: foreign
Depends: calamares,
  os-prober,
  qml6-module-qtquick-controls,
  qml6-module-qtquick-layouts,
  ${shlibs:Depends},
  ${misc:Depends},
Description: distribution-independent installer framework
  Calamares is a distribution-independent installer framework.
  .
  This is the re-branded version of calamares, made specifically
  for BassOS live installer.
  .
  It provides a graphical installer that can be used with nearly
  any distribution. This package is suitable for live media on
  Debian-based systems, and won't be of any particular use on
  an already installed system.
  .
  You will likely want to provide your own config files to match
  your distribution, reading the Calamares documentation will guide
  you through that process.
